/* Responsivo Menu */

@media screen and (max-width: 900px) {

    header .menu-desktop,
    header .btn-contato {
        display: none;
    }

    header .btn-mobile {
        display: block;
    }
}

/* Responsivo Hero */

@media screen and (max-width: 878px) {
    .hero-site {
        overflow-x: hidden;
        overflow-y: visible;
    }

    .txt-hero {
        margin-top: 25rem;
        overflow: visible;
    }

    .hero-site {
        min-height: 100vh;
    }

    .hero-site .txt-hero h1 {
        font-size: 2.6em;
        line-height: 45px;
    }

    .hero-site .txt-hero p {
        font-size: 14px;
    }

    .hero-site .txt-hero p span {
        display: inline;
    }

    .hero-site button {
        font-size: 18px;
    }

    .robo-3d {
        position: absolute;
        width: 300px;
        height: 300px;
        top: 18%;
        left: 50%;
        transform: translateX(-50%);
    }

}

/* Sessão feedback */

@media screen and (max-width: 878px) {
    .testimonials_content {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testimonials {
        padding-bottom: 60px;
        flex-direction: column;
    }

    .testimonials .section-subtitle {
        text-align: center;
        font-size: 2.5em;
    }

    .feedback {
        flex-direction: column;
    }

    .testimonials_robo {
        width: 30%;
    }
}

/* @media screen and (max-width: 878px) {

    .testimonials {
        min-height: auto;
        padding: 60px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testimonials_content {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px; 
    }

    .feedback {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .testimonials button {
        margin-top: 20px;
    }

    .testimonials_robo {
        width: 30%;
    }
} */

/* Responsivo Serviços */

@media screen and (max-width: 878px) {
    .servicos .itens-container {
        flex-direction: column;
    }

    .servicos .itens-container .img-itens img {
        width: 95%;
    }

    .servicos .itens-container .txt-itens p {
        margin-bottom: 30px;
    }

    .servicos .itens-container .item-1 {
        order: 1;
    }

    .servicos .itens-container .item-2 {
        order: 0;
    }

    /* Sessão Contato */

    .txt-contato,
    .icons-contato {
        display: block;
        width: 100%;
    }

    .contato .txt-contato h3 {
        font-size: 2em;
        line-height: 40px;
        text-align: center;
    }

    .contato .txt-contato p {
        margin-bottom: 20px;
        text-align: center;
    }

    .contato .icons-contato button {
        width: 90%;
    }

    /* Sessão Consultoria */

    .consultoria h3 {
        font-size: 2.6em;
        line-height: 40px;
    }

    .consultoria p {
        margin: 20px 0;
        font-size: 16px;
    }

    /* Sessão Instruções */

    .txt-funciona,
    .instrucoes {
        display: block;
        width: 100%;
    }

    .como-funciona .txt-funciona {
        position: static;
    }

    .como-funciona .txt-funciona h3 {
        font-size: 3em;
        line-height: 50px;
        text-align: center;
    }

    .instrucoes .instru-box {
        flex-direction: column;
        text-align: center;
    }

    /* Footer */

    footer .midlle-footer a {
        margin: 15px 0;
        display: block;
    }

    footer .bottom-footer p {
        font-size: 14px;
    }
}